
.contact {
    padding: 4%;
    
}
.ap {
    font-family: 'Open Sans', sans-serif;
}
.col-md-9 {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    font-weight: 600;
}

.contact-form button:focus {
    box-shadow: none;
}



#email {
    padding: 4.5%;
    outline: none;
    border: none;
    background-color: #F8F8F8;
}

#password {
    padding: 4.5%;
    outline: none;
    border: none;
    background-color: #F8F8F8;
}
.so{
    margin-top: 50px;
}

.form-group.success input {
    border: 1px solid green;
    box-shadow: 0 0 5px green;
}

.form-group i.fa-check-circle {
	visibility: hidden;
	position: relative;
    left: 990px;
    top: -55px;
}


.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.sut{
    border: none;
}